# Local Environment Variables
.env
.env.local
.env.*.local

# Vercel Build Directory
.vercel

# Node Modules & Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS System Files
.DS_Store
Thumbs.db
